.education_section_css {
    font-size: 15px;
    line-height: 25px;
    color: #888888;
    min-height: 100vh;
}

.education_section{
    margin-bottom: 50px;
}

.main-heading-Edu{    
    letter-spacing: 2px ;
    color: #ffffff;
}

.education_section_container{
    border-left: 1px solid #222;
    padding-left: 40px;
    margin-top: 40px;
}