.EducationSection_css {
    font-size: 15px;
    line-height: 25px;
    color: #888888;
    /* min-height: 100vh; */
    margin: 20px auto;
    /* for animation:  ; */
    opacity: 0;
    transform: translateX(-200px);
    animation: fadeIn 1s ease forwards;
}
@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.EducationSection{
    margin-bottom: 50px;
}

.main-heading-Edu{    
    letter-spacing: 2px ;
    color: #ffffff;
}

.EducationSection_container{
    border-left: 1px solid #222;
    padding-left: 40px;
    margin-top: 40px;
}

