/* .header-img-css {
    position: fixed;
    background: linear-gradient(rgba(10, 0, 0, 0.300), rgba(0, 0, 0, 0.433)), url(../Images/logos/vipin2.jpeg);
    width: 37%;
    height: 100vh;
    top: 0;
    left: 0;
    background-position: center center;
    background-size: cover;
    z-index: 100;
} */
.container1 {
    position: fixed;
    width: 27%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #191919;
    display: flex;
}

.profile-card {
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    color: white;
    font-family: 'Arial', sans-serif;
    margin: auto 12px;
    background-color: #FFE3E3 ;
}

.profile-card:hover {
    box-shadow: 0 4px 20px #f6843842;
}

.card-header {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.profile-img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}

.name {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0 5px;
    color: #191919;
}

.role {
    color: #191919;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 15px;
}

.description {
    font-size: 14px;
    color: #191919;
    margin-bottom: 20px;
}

.connect-text {
    font-size: 12px;
    color: #191919;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.social-icons a {
    margin: 0 8px;
    display: inline-block;
    /* background: #fff; */
    border-radius: 50%;
    padding: 10px;
    transition: transform 0.3s ease;
}

.social-icons a:hover {
    transform: scale(1.3);
}

.social-icons img {
    width: 20px;
    height: 20px;
}


.container2 {
    width: 73%;
    background-color: #191919;
    float: right;
    padding: 50px;
}

.Navbar {
    position: fixed !important;
    text-align: center;
    padding: 48px;
    margin-left: -50px !important;
    top: 0px;
    background-color: #191919;
    font-size: 15px;
    width: 73%;
    z-index: 6;
}

.Navbar li {
    list-style: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 8px;

}

.Navbar li a {
    color: #888888;
    text-decoration: none;
}

.Navbar a:hover {
    color: #eeeeee;
    /* font-weight: 600; */
}

.top-arrow {
    position: fixed;
    background: #00000065;
    bottom: 30px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 100;
    font-size: 24px;
    color: #F68338;
    text-decoration: none;
}


/* For Tab View  */

@media (max-width: 900px) {

    .container2 .Navbar {
        display: none;
    }

    .container1 {
        width: 100%;
        height: fit-content;
        position: static;
    }

    .profile-card {
        margin: 20px auto;
    }

    .container2 {
        width: 100%;
    }

    .footer-css .footer-2 {
        display: none;
    }

    .footer-css {
        position: absolute;
        top: 50%;
        left: -50px;
        opacity: 0.6 !important;
    }

    .footer-css .footer-1 {
        flex-direction: column;
    }

    .main-section,
    .resume,
    .portfolio,
    .contact {
        margin-top: 0px !important;
    }

    .footer {
        text-align: center;
        margin-bottom: 10px !important;
    }



    /* hamburger-menu  */


    * {
        box-sizing: border-box;
    }

    .hamburger-menu {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1000;
    }


    .Navbar {
        position: relative;
        text-align: center;
        top: 0px;
        right: 0;
        transform: translateX(100%);
        transition: 0.6s ease-in-out;
        background-color: #191919;
        font-size: 15px;
        z-index: 6;
        height: 100vh;
    }


    .menu-items li {
        margin-bottom: 1.2rem;
    }

    .menu-items {
        transform: translateX(100%);
        /* By default, menu-items is at its initial position */
        transition: transform 0.3s ease;
        /* Adding a smooth transition effect */
    }

    .menu-items-open {
        transform: translateX(0);
    }

    .menu-items :any-link:hover {
        color: #F68338;
        /* alter clicked color changed in mobile */
    }

    .hamburger-menu input[type="checkbox"] {
        display: block;
        position: absolute;
        right: 4px;
        top: 5px;
        height: 34px;
        width: 37px;
        z-index: 10;
        opacity: 0;
    }

    .hamburger-menu .hamegurger-lines {
        position: absolute;
        right: 8px;
        top: 8px;
        height: 34px;
        width: 34px;
        padding: 8px;
        background-color: #F68338;
        border-radius: 50%;
        z-index: 8;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .hamegurger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        background-color: #191919;
        border-radius: 10px;
        z-index: 0;
    }

    .container2 .Navbar {
        display: block;
    }

    .Navbar li {
        display: block;
    }

}

/* for phone view  */

@media (max-width: 760px) {

    .profile-card {
        margin: 20px;
    }


    .container2 {
        padding: 50px 20px;
    }

    .name-about {
        flex-direction: column !important;
    }

    .box-right,
    .box-left {
        width: auto !important;
    }

    .name-about-right {
        margin-left: 0px !important;
    }

    .project {
        width: fit-content !important;
        margin-bottom: 18px !important;
    }


    .contact-form input,
    textarea {
        width: 100% !important;
    }

    .footer {
        text-align: center;
        margin-bottom: 10px !important;
    }

    .skills-logos {
        justify-content: center;
    }


}

@media (max-width: 489px) {

    .project-inner-img,
    .project-inner-text,
    project-text .btn button {
        width: 100% !important;
    }

}

@media (min-width: 501px) and (max-width: 900px) {


    .header-img-css {
        background-position: top;
        background-size: cover;
    }
}