



*,
::after,
::before{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
     font-size: 62.5%; /*  default size is 16px but hame 10 px chaye. or % me taki web serponsive bne */
}


.main-section{
    margin-top: 120px;
    min-height: 100vh;

    /* for animation:  ; */
    opacity: 0;
    transform: translateX(-200px);
    animation: fadeIn 1s ease forwards;
}
@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mini-heading{
    color: #F68338 !important;
    letter-spacing: 2px ;
}


.main-section {
    font-size: 15px;
    line-height: 25px;
}

.main-section p {
    color: #888888;
}

.main-heading{    
    margin-bottom: 15px;
    letter-spacing: 2px ;
    color: #ffffff;

}


.name-about {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
}

.name-about p {
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 20px;

}
.name-about span {
    color: #888888;
}

.name-about-right {
    margin-left: 150px;
}

.btn button {
    padding: 8px 20px;
    cursor: pointer;
    background: #F68338;
    position: relative;
    font-size: 15px;
    font-weight: 400;
    display: inline-block;
    border-radius: 0;
    border: 1px solid #F68338;
    margin-bottom: 30px;
    z-index: 0;
    transition: background-color 0.3s ease, border 0.3s ease;

}
.btn a{
    color: #fff;
    text-decoration: none;
}

.btn button:hover {
    background-color: #191920;
    border: 1px solid #F68338;
}

.box {
    text-align: center;
    line-height: 25px;
    margin-top: 35px;
}

.box h2{
    margin-bottom: 10px;
}

.box img{ 
    width: 40px;
    margin-bottom: 15px;
}

.box-right {
    width: 47%;
    float: right;
    padding: 30px;
    margin-bottom: 30px;
    border: 1px solid #222;
}

.box-left {
    width: 47%;
    display: inline-block;
    /* float: left; */
    padding: 30px;
    margin-bottom: 30px;
    border: 1px solid #222;
}


.footer {
    margin-bottom: 70px;
}
.footer .name{
    color: #F68338;
}

.hr_tag{

    border: 0.1px solid #222;
    margin:50px 0px;
         
}
