.ProjectCom{
    min-height: 100vh;
    /* for animation:  ; */
    opacity: 0;
    transform: translateX(-200px);
    animation: fadeIn 1s ease forwards;
}
@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.projects a{
    text-decoration: none;
    
}

.project{
    width: fit-content;
    border: 1px solid #222;
    margin-bottom: 4%;
}


.project-text{
    padding: 15px ;
}
.project-inner-img{
    margin-bottom: 20px;
    height: 200px;
    width: 19rem;
    
}
.project-inner-text{
    width: 19rem;    
    margin-bottom: 10px;
}
.project-inner-text h3{
    margin-bottom: 5px;
    font-size: 1.5rem;
}
.project-inner-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.project-text .btn button{
    width: 19rem;
    position:static 
}

