* p,span{
  font-family: 'Rambla', sans-serif;
  font-size: 13px !important;
  line-height: 1.75em;
  font-weight: 400;
  color: #888;
}

* h1,h2,h3,h4,h5,h6{
  color: #fff;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  /* font-size: 18px ; */
}